@import "src/variables"

.tableElement
  position: relative
  height: 60px
  display: flex
  align-items: center
  font-family: 'Roboto', sans-serif
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 130%
  color: $white

  &:nth-child(n)
    border-bottom: 1px solid $gray

  &:hover
    .showBlock
      position: absolute
      display: flex
      margin-left: -1px
      right: 13px

.icon
  width: 24px
  height: 24px
  z-index: 3

.delete
  width: 16px
  height: 16px

.iconButton
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  background: transparent
  border: none
  outline: none
  padding: 0

.showBlock
  display: none
  align-items: center
  justify-content: space-between
  background: $gray
  border-radius: 6px
  padding: 3px 7px