@import "src/variables"

.tableElement
  height: 60px
  display: flex
  align-items: center
  font-family: 'Roboto', sans-serif
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 130%
  color: $white

.image
  width: 24px
  height: 24px

.inputElement
  background: transparent
  width: calc(100% - 24px)
  height: 36px
  padding: 10px
  font-family: 'Roboto', sans-serif
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 130%
  letter-spacing: 0.1px
  color: $white
  border: 1px solid $gray
  border-radius: 6px
  outline: none

  &::placeholder
    color: $light-gray